In [1]:
import os 
import pandas as pd
from pandas import ExcelWriter
from openpyxl import load_workbook
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.pyplot import cm

In [2]:
cont_dir = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/'
t4_dir = os.listdir(cont_dir)
t4_files = list(filter(lambda x: x!='.DS_Store', t4_dir))
t4_files_path = list(map(lambda x: cont_dir+x, t4_files))
t4_files_dict = {x.split("/")[-1][:6]:x for x in t4_files_path}

rpf_tot_1_bl = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/CGATGT-s_6_1/bl/'
rpf_tot_1_fa = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/CGATGT-s_6_1/fa/'
rpf_tot_2_bl = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/GATCAG-s_6_1/bl/'
rpf_tot_2_fa = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/GATCAG-s_6_1/fa/'

rna_tot_1_bl = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/TAGCTT-s_6_1/bl/'
rna_tot_1_fa = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/TAGCTT-s_6_1/fa/'
rna_tot_2_bl = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/GGCTAC-s_6_1/bl/'
rna_tot_2_fa = '/Users/indrikwijaya/Desktop/fyp/bl_fa/t4/GGCTAC-s_6_1/fa/'


def list_files(dir):
    list_of_files = []
    for i in os.listdir(dir):
        list_of_files.append(dir+i)
    return list_of_files

cagatc_bl_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/CAGATC-s_4_1_seed29/bl/')
cagatc_fa_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/CAGATC-s_4_1_seed29/fa/')
tgacca_bl_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/TGACCA-s_4_1_seed29/bl/')
tgacca_fa_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/TGACCA-s_4_1_seed29/fa/')
gccaat_bl_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/GCCAAT-s_4_1_seed29/bl/')
gccaat_fa_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/GCCAAT-s_4_1_seed29/fa/')
acagtg_bl_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/ACAGTG-s_4_1_seed29/bl/')
acagtg_fa_files = list_files('/Users/indrikwijaya/Desktop/fyp/bl_fa/t6/ACAGTG-s_4_1_seed29/fa/')

In [3]:
rpf_tot_1_bl_files = list_files(rpf_tot_1_bl)
rpf_tot_1_fa_files = list_files(rpf_tot_1_fa)
rpf_tot_2_bl_files = list_files(rpf_tot_2_bl)
rpf_tot_2_fa_files = list_files(rpf_tot_2_fa)

rna_tot_1_bl_files = list_files(rna_tot_1_bl)
rna_tot_1_fa_files = list_files(rna_tot_1_fa)
rna_tot_2_bl_files = list_files(rna_tot_2_bl)
rna_tot_2_fa_files = list_files(rna_tot_2_fa)

In [4]:
def merge_bl_fa(bl_file, fa_file, contaminant):
#     print(bl_file)
#     print(fa_file)
    bl = pd.read_csv(bl_file, sep = '\t', 
                  header = None,
                  names = ['id','chr', 'NA', 'length', 'NA', 'NA', 'NA', 'length', 'start', 'end', 'rRNA', 'tRNA'])[:-1]
    
    bl = bl[['id','chr','length', 'start', 'end', 'rRNA', 'tRNA']]
    #filter rRNA &tRNA
    if contaminant == 'rRNA':
        bl = bl[bl['rRNA'] =='rRNA']
        bl = bl[['id','chr','length', 'start', 'end']]
    else:
        bl = bl[bl['tRNA'] =='tRNA']
        bl = bl[['id','chr','length', 'start', 'end']]
    #bl = bl[(bl['rRNA'] =='rRNA') | (bl['tRNA'] == 'tRNA')]
    
    bl['read_num'] = bl['id'].str.split('_')
    bl['read_num'] = bl.apply(lambda x: float(x['read_num'][1]), axis = 1)
    bl['read_pct'] = bl.apply(lambda x: x['read_num']/sum(bl['read_num']), axis = 1)
    bl = bl.sort_values(['read_num'], ascending = False)
#     print(bl)
    
    fa = list(open(fa_file))
    fa = list(map(lambda x: x.replace("\n",""), fa))
    fa = list(map(lambda x: x.replace(">", ""), fa))

    fa_list = []
    fa_id = fa[0::2]
    fa_seq = fa[1::2]
    for i in range(0, len(fa_id)):
        fa_list.append((fa_id[i], fa_seq[i]))

    fa_df = pd.DataFrame(fa_list, columns = ['id', 'seq'])
#     print(fa_df)
    cont_df = pd.merge(bl, fa_df, how = 'inner', on = 'id')
    cont_df = cont_df.reindex(columns = ['id', 'seq', 'chr', 'length', 'start', 'end', 'read_num', 'read_pct'])

    return cont_df

In [6]:
def save_to_excel(path, bl_files, fa_files, contaminant):
    lengths = list(map(lambda x: int(x.split(".")[-2]), bl_files))
    writer = pd.ExcelWriter(path, engine = 'xlsxwriter')

    for i in lengths:
        bl_i = list(filter(lambda x: int(x.split(".")[-2]) == i, bl_files))[0]
        fa_i = list(filter(lambda x: int(x.split(".")[-2]) == i, fa_files))[0]
        
        bl_fa = merge_bl_fa(bl_i, fa_i, contaminant)
        
        bl_fa.to_excel(writer, sheet_name = str(i))
    writer.save()

In [141]:
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/CGATGT_rRNA.xlsx', rpf_tot_1_bl_files, rpf_tot_1_fa_files, 'rRNA')
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/CGATGT_tRNA.xlsx', rpf_tot_1_bl_files, rpf_tot_1_fa_files, 'tRNA')
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/GATACG_rRNA.xlsx', rpf_tot_2_bl_files, rpf_tot_2_fa_files, 'rRNA')
#save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/GATACG_tRNA.xlsx', rpf_tot_2_bl_files, rpf_tot_2_fa_files, 'tRNA')
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/TAGCTT_rRNA.xlsx', rna_tot_1_bl_files, rna_tot_1_fa_files, 'rRNA')
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/TAGCTT_tRNA.xlsx', rna_tot_1_bl_files, rna_tot_1_fa_files, 'tRNA')
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/GGCTAC_rRNA.xlsx', rna_tot_2_bl_files, rna_tot_2_fa_files, 'rRNA')
save_to_excel('/Users/indrikwijaya/Desktop/fyp/t4/GGCTAC_tRNA.xlsx', rna_tot_2_bl_files, rna_tot_2_fa_files, 'tRNA')

/Users/indrikwijaya/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2862: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Filter Root Sequences

In [5]:
def combine_all_pd(bl_files, fa_files, contaminant):
    lengths = list(map(lambda x: int(x.split(".")[-2]), bl_files))
    
    combined_pd = pd.DataFrame(columns = ['id', 'seq', 'chr', 'length', 'start', 'end', 'read_num', 'read_pct'])
    for i in lengths:
        bl_i = list(filter(lambda x: int(x.split(".")[-2]) == i, bl_files))[0]
        fa_i = list(filter(lambda x: int(x.split(".")[-2]) == i, fa_files))[0]
        
        bl_fa = merge_bl_fa(bl_i, fa_i, contaminant)
        #bl_fa = bl_fa[bl_fa['read_num']>20]
        combined_pd = pd.concat([combined_pd, bl_fa])
    
    return combined_pd

In [18]:
#tgacca_count = combine_all_pd(tgacca_bl_files, tgacca_fa_files, 'rRNA')
gccaat_count = combine_all_pd(gccaat_bl_files, gccaat_fa_files, 'rRNA')
cagatc_count = combine_all_pd(cagatc_bl_files, cagatc_fa_files, 'rRNA')
acagtg_count = combine_all_pd(acagtg_bl_files, acagtg_fa_files, 'rRNA')

In [7]:
rpf_tot_1_count = combine_all_pd(rpf_tot_1_bl_files, rpf_tot_1_fa_files, 'rRNA')
rpf_tot_2_count = combine_all_pd(rpf_tot_2_bl_files, rpf_tot_2_fa_files, 'rRNA')
rna_tot_1_count = combine_all_pd(rna_tot_1_bl_files, rna_tot_1_fa_files, 'rRNA')
rna_tot_2_count = combine_all_pd(rna_tot_2_bl_files, rna_tot_2_fa_files, 'rRNA')

/Users/indrikwijaya/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2862: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
def count_total_read(combined_pd):
    lengths = list(set(map(lambda x: int(x),list(combined_pd['length']))))
    seq_count_dict = {}
    
    #{seq:[chr, len, read_num]}
    seq_readnum_all_dict = dict([(i,[a,b,c]) for i,a,b,c in zip(combined_pd.seq,combined_pd.chr,combined_pd.length,combined_pd.read_num)])
    seq_all = seq_readnum_all_dict.keys()

    for i in lengths:
        seq_i = list(combined_pd[combined_pd['length']==i]['seq'])
        chr_i = list(combined_pd[combined_pd['length']==i]['chr'])

        #seq_all_filter = list(filter(lambda x: x not in seq_i, seq_all))
        for k in range(len(seq_i)):
            count = 0
            length_appear = []

            for l in seq_all:
                if seq_i[k] == l[:len(seq_i[k])]:

                    length_appear.append(int(seq_readnum_all_dict[l][1]))
                    count += seq_readnum_all_dict[l][2]

            seq_count_dict[seq_i[k]] = [chr_i[k],i,length_appear, len(length_appear),int(count)]
    
    seq_df = pd.DataFrame(list(seq_count_dict.items()), columns = ['seq', 'details'])
    seq_df[['chr', 'length', 'length_appear', 'no_appear', 'read_total']] = pd.DataFrame(seq_df.details.values.tolist(), index = seq_df.index)
    
    seq_df = seq_df[['seq', 'chr', 'length', 'length_appear', 'no_appear', 'read_total']]

    return seq_df

In [19]:
#day 6
gccaat_df = count_total_read(gccaat_count)
cagatc_df = count_total_read(cagatc_count)
acagtg_df = count_total_read(acagtg_count)

#day 4
# rpf_tot_1_df = count_total_read(rpf_tot_1_count)
# rpf_tot_2_df = count_total_read(rpf_tot_2_count)
# rna_tot_1_df = count_total_read(rna_tot_1_count)
# rna_tot_2_df = count_total_read(rna_tot_2_count)

In [12]:
gccaat_df.head()

,seq,chr,length,length_appear,no_appear,read_total
0,GTGGGGGGCCCAAGTCCTTCTGATCGAGGCCC,chr5,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,403078
1,AGCTCCCTCCCGGCTCCGGCCGGGGGTCGGGC,chr17,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,161873
2,CGTGGGGGGCCCAAGTCCTTCTGATCGAGGCC,chr5,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,300940
3,ACGATGCCGACTGGCAATGCGGCGGCGTTATT,chr17,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,31269
4,AGAGCTAATACATGCCCACGGGCGCTGACCCC,chr17,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36]",10,17452

In [9]:
def read_count_to_excel_by_read(path, df, group_by):
    lengths = sorted(list(set(map(lambda x: int(x),list(df['length'])))))

    writer = pd.ExcelWriter(path, engine = 'xlsxwriter')
    combined_pd = pd.DataFrame(columns =['seq','chr', 'length', 'length_appear', 'no_appear','read_total'])
    for i in lengths:
        df_length_i = df[df['length']==i]
        if group_by =='read_total':
            df_length_top = df_length_i.nlargest(10, 'read_total')

        else:
            df_length_top = df_length_i.nlargest(10, 'no_appear')
        combined_pd = pd.concat([combined_pd, df_length_top])
            
    combined_pd.to_excel(writer, sheet_name = 'by_read_count')
    writer.save()

In [20]:
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/gccaat_by_read.xlsx',gccaat_df, 'read_total')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/cagatc_by_read.xlsx', cagatc_df, 'read_total')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/acagtg_by_read.xlsx', acagtg_df, 'read_total')

read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/gccaat_by_appear.xlsx', gccaat_df, 'no')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/cagatc_by_appear.xlsx', cagatc_df, 'no')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/acagtg_by_appear.xlsx', acagtg_df, 'no')

In [16]:
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rpf_tot_1_by_read.xlsx', rpf_tot_1_df, 'read_total')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rpf_tot_2_by_read.xlsx', rpf_tot_2_df, ' read_total')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rna_tot_1_by_read.xlsx', rna_tot_1_df, 'read_total')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rna_tot_2_by_read.xlsx', rna_tot_2_df, 'read_total')

read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rpf_tot_1_by_appear.xlsx', rpf_tot_1_df, 'no')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rpf_tot_2_by_appear.xlsx', rpf_tot_2_df, 'no')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rna_tot_1_by_appear.xlsx', rna_tot_1_df, 'no')
read_count_to_excel_by_read('/Users/indrikwijaya/Desktop/top_contaminant_1/rna_tot_2_by_appear.xlsx', rna_tot_2_df, 'no')

In [12]:
rpf_tot_1_df.head()

,seq,chr,length,length_appear,no_appear,read_total
0,CCGCCGAGGGCGCACCACCGGCCCGTCTCGCC,chr16,32,"[32, 33, 33, 34, 34, 36, 36]",7,86333
1,TCCGCCGAGGGCGCACCACCGGCCCGTCTCGC,chr16,32,"[32, 33, 34, 36]",4,33108
2,AAACGATGCCGACTGGCAATGCGGCGGCGTTA,chr17,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,23142
3,CGTGGGGGGCCCAAGTCCTTCTGATCGAGGCC,chr5,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,24834
4,GTGGGGGGCCCAAGTCCTTCTGATCGAGGCCC,chr5,32,"[32, 33, 33, 34, 34, 34, 36, 36, 36, 36, 36]",11,24078